/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  opacity: 0.5;
}

.drop-zone {
  border: dashed 3px black;
  border-radius: var(--radius-3);
  padding: var(--size-fluid-3);
  margin: 2rem 0;

  @media (prefers-color-scheme: dark) {
    border-color: white;
  }

  p {
    margin: 1rem 0;
  }

  p:first-of-type {
    font-size: var(--font-size-4);
  }
}

form#options {
  p {
    margin: 1rem 0;
  }
  
  input:invalid {
    outline: 2px solid red;
  }
}