/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@import "https://unpkg.com/open-props/theme.light.switch.min.css";
@import "https://unpkg.com/open-props/theme.dark.switch.min.css";
/* ------------------------------------------------------------ */

@mixin theme-light {
  --shadow-color-over-done-task: var(---lime-6);
  --dash-border-color: black;
  --task-bg-color: var(--gray-3);
  --task-bg-color-done: var(--lime-3);
  --task-bg-color-error: var(--red-3);
}

@mixin theme-dark {
  --shadow-color-over-done-task: var(--teal-8);
  --dash-border-color: white;
  --task-bg-color: var(--gray-8);
  --task-bg-color-done: var(--teal-11);
  --task-bg-color-error: var(--red-11);
}

:root {
  @include theme-light;
}

:root[data-theme=dark] {
  @include theme-dark;
}

@media (prefers-color-scheme: dark) {
  :root[data-theme=auto] {
    @include theme-dark;
  }
}

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: var(--font-size-7);
  padding-top: 0;
}

footer {
  opacity: 0.5;
  margin-top: 2rem;
}

ul.toggle-bar {
  display: flex;
  list-style: none;
  padding: 0;
  align-self: flex-end;
  margin: var(--size-fluid-2);

  button {
    font-size: var(--font-size-0);
    padding: 0;
    width: 2rem;
    height: 1.5rem;

    &:disabled {
      cursor: default;
    }
  }
}

.drop-zone {
  border: dashed 3px var(--dash-border-color);
  border-radius: var(--radius-3);
  padding: var(--size-fluid-3);
  margin: 2rem 0;

  p {
    margin: 1rem 0;
  }

  p:first-of-type {
    font-size: var(--font-size-4);
  }
}

details.options {
  form {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: var(--size-fluid-1);
    align-items: center;

    label {
      text-align: right;
    }

    label.checkbox {
      grid-column-end: span 2;
      text-align: center;
    }

    input:invalid {
      outline: 2px solid red;
    }
  }
}

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  row-gap: var(--size-fluid-2);
  padding: 0;

  > li {
    max-inline-size: var(--size-content-3);
    inline-size: var(--size-content-3);
  }

  > li.task {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: var(--task-bg-color);
    box-shadow: var(--shadow-1);
    border-radius: var(--radius-2);
    padding: var(--size-fluid-2);

    &:hover {
      box-shadow: var(--shadow-3);
    }

    &.done { background-color: var(--task-bg-color-done); }
    &.error { background-color: var(--task-bg-color-error); }
  }

  button.clear {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-4);
    opacity: 0.8;
    background: none;
    border: none;
    box-shadow: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .columns {
    display: flex;
    flex-direction: row;

    .state-and-title {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .state {
    align-self: flex-start;
    font-size: var(--font-size-1);
    opacity: 0.6;
    font-weight: var(--font-weight-4);
    user-select: none;
  }

  .title {
    flex: 1;
    font-size: var(--font-size-3);
    text-align: start;
    line-break: anywhere;
  }

  a.download {
    align-self: center;
    font-size: var(--font-size-5);
    margin-left: var(--size-fluid-1);
    margin-right: -6px;
    user-select: none;

    &:hover {
      text-decoration: none;
      text-shadow: var(--shadow-color-over-done-task) 0 0 10px;

    }
  }

  details {
    background: none;
    padding: 0;
    margin: var(--size-fluid-1) 0;
    font-size: var(--font-size-0);
    opacity: 0.6;

    summary {
      background: none;
      padding-top: var(--size-fluid-1);
      padding-bottom: 0;
      text-align: end;
    }

    ol {
      text-align: start;
      font-size: var(--font-size-1);
      list-style-position: inside;
      padding-left: 0;
    }

    li {
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
